name: Tests and Formatting
on:
    push:
        branches:
          - '*'
    pull_request:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Set up Python
          uses: actions/setup-python@v2
        - name: Install pycodestyle
          run: pip install pycodestyle
        - name: Install numpy
          run: pip install numpy

    run_unit_tests:
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash -l {0}
        steps:
            - uses: actions/checkout@v2
            - run: |
                cd test/unit
                python3 -m unittest test_my_utils.py

    run_style_tests:
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash -l {0}
        steps: 
            - uses: actions/checkout@v2
            - run: pycodestyle $(git ls-files "*.py")

    run_func_tests:
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash -l {0}
        steps: 
            - uses: actions/checkout@v2
            - run: bash test/func/test_my_utils_functional.sh
