name: Tests and Formatting
on:
    push:
        branches:
          - '*'
    pull_request:
        branches: [master]
jobs:
    run_unit_tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: |
                pip install numpy
                cd test/unit
                python3 -m unittest test_my_utils.py

    run_style_tests:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v2
            - run: | 
                pip install pycodestyle
                pycodestyle $(git ls-files "*.py")

    run_func_tests:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v2
            - run: bash test/func/test_my_utils_functional.sh
